body { 
    font-family: 'Montserrat', sans-serif;
    background-image: url(../img/back1080_1920.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.logo { 
     display: flex;
     margin: 0 auto;
     margin-top: 60px;
}
.figure {
     display: flex;
     margin: 0 auto;
     text-align: center;
     margin-left: 450px;
     color:#fff;
}
.dynasty { 
    display: flex;
    margin: 0 auto;
    text-align: center;
    margin-left: 580px;
    color: #fff;
}
.school {
    display: flex;
    margin: 0 auto;
    margin-left: 530px;
    margin-top: 20px;
    color: #fff;
}
.txt { 
    display: flex;
    margin: 0 auto;
    text-align: center;
    margin-left: 430px;
    margin-top: 20px;
    color: #fff;
}
.competitions { 
    display: flex;
    margin: 0 auto;
    width: 400px;
    margin-top: 50px;
}
.comands { 
    display: flex;
    margin: 0 auto;
    width: 400px;
    margin-top: 30px;
}    
.vk { 
    display: flex;
    margin: 0 auto;
    width: 400px;
    margin-top: 40px;
}
.youtube { 
    display: flex;
    margin: 0 auto;
    width: 400px;
    margin-top: 40px;
}
.insta { 
    display: flex;
    margin: 0 auto;
    width: 400px;
    margin-top: 40px;

}
.wa { 
    display: flex;
    margin: 0 auto;
    width: 400px;
    margin-top: 40px;
}
.call { 
    display: flex;
    margin: 0 auto;
    margin-top: 22px;
    width: 400px;
    margin-left: 120px;
}
.mail { 
    display: flex;
    margin: 0 auto;
    margin-right: 200px;
    width: 400px;
    margin-top: -110px;
    width: 400px;
}


@media (max-width: 812px) { 
    body { 
        background-image: url(../img/back1080_1920.png);
        background-repeat: no-repeat;
        background-size: 200%;
    }  
    
    .figure { 
        display: flex;
        text-align: center;
        font-size: 18px;
        margin-top: 20px;
        margin-left: 1000%;
    }
    .dynasty { 
        display: flex;
        text-align: center;
        font-size: 18px;
        margin-top: 0px;
        margin-left: 500px;
    }
    .school {
        display: flex;
        text-align: center;
        font-size: 16px;
        margin-top: 20px;
        margin-left: 70px;
    }
    .txt { 
        display: flex;
        text-align: center;
        font-size: 16px;
        margin-left: 10px;
    }
    .competitions { 
        margin-bottom: -10px;
        width: 150px;
    }
    .comands { 
        margin-bottom: -20px;
        width: 150px;   
    }
    .vk { 
        margin-bottom: -30px;
        width: 150px;
    }
    .youtube { 
         width: 150px;
         margin-bottom: -30px;
    }
    .insta { 
         width: 150px;
    }
    .wa {
        margin-top: 10px;
        width: 150px;
    }
    .call { 
        margin-left: 10px;
        margin-top: 120px;
        width: 150px;
    }
    .mail { 
        margin-left: 150px;
        margin-top: -45px;
        width: 150px;
    }
}
@media (max-width: 667px) { 
    .figure { 
     display: flex;
     text-align: center;
     font-size: 18px;
     margin-left: 50px;
    }
    .dynasty { 
     display: flex;
     text-align: center;
     font-size: 18px;
     margin-left: 00px;
    
    }
    .school {
     display: flex;
     text-align: center;
     margin-left: 80px;
    }
    .txt { 
        display: flex;
        text-align: center;
    }
  .call { 
     margin-top: 60px;   
  }
    .mail { 
      display: flex;
       margin-left: 210px;
       margin-top: -42px;
    }
    }
@media (max-width:736px) { 
    .figure { 
        margin-left: 60px;
    }
    .dynasty { 
        margin-left: 135px;
    }
    .school { 
        margin-left: 100px;
        font-size: 14px;
    }
    .mail { 
        margin-left: 200px;
    }
}
@media handheld and (orientation:landscape) { 
    