body {
  font-family: "Montserrat", sans-serif;
}
.container {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.competitions {
  position: absolute;
  display: inline-block;
  align-items: center;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  margin-left: 690px;
  bottom: 500px;
  padding: 25px 120px;
  background-color: #00ced1;
  color: #fff;
}
.competitions:hover {
  opacity: 0.5;
}
.schedule {
  position: absolute;
  bottom: 520px;
  left: 800px;
  text-decoration: none;
}
.dynasty {
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-left: 120px;
}
.social {
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.button-social {
  padding: 23px 150px;
  margin-top: 565px;
  margin-left: 90px;
  border-radius: 6px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  background-color: #0000cd;
}
.button-social:hover {
  opacity: 0.5;
}

.vk-social {
  position: absolute;
  bottom: 350px;
  left: 180px;
  width: 40px;
}
.button-link {
  position: absolute;
  padding: 23px 150px;
  background-color: #7fffd4;
  bottom: 345px;
  border: none;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  margin-left: 710px;
  border-radius: 6px;
  cursor: pointer;
  background-color: crimson;
}
.button-link:hover {
  opacity: 0.5;
}

.youtube-social {
  position: absolute;
  top: 16px;
  left: 90px;
  width: 30px;
}
.button-insta {
  position: absolute;
  padding: 23px 150px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  left: 1270px;
  bottom: 343px;
  background-color: #d2691e;
}
.button-primary:hover {
  opacity: 0.5;
}

.instagram-social {
  position: absolute;
  top: 15px;
  left: 90px;
  width: 30px;
}

.tel {
  position: absolute;
  top: 720px;
  left: 150px;
  background-color: #00ced1;
  cursor: pointer;
  padding: 25px 80px;
  border: none;
  border-radius: 6px;
  color: #ffff;
  text-decoration: none;
}
.tel:hover {
  opacity: 0.5;
}
.mail {
  position: absolute;
  bottom: 190px;
  left: 1357px;
  background-color: #00ced1;
  cursor: pointer;
  padding: 25px 80px;
  border: none;
  border-radius: 6px;
  color: #ffff;
  text-decoration: none;
}
.mail:hover {
  opacity: 0.5;
}

@media (max-width: 768px) {
  .competitions {
    display: flex;
    align-items: center;
    position: absolute;
    padding: 18px 70px;
    right: 45px;
  }
  .social {
    display: flex;
    align-items: center;
    margin: 0 auto;
  }
  .button-social {
    display: flex;
    align-items: center;
    position: absolute;
    padding: 13px 89px;
    bottom: 410px;
    left: 18px;
  }
  .vk-social {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 6px;
    left: 46px;
  }
  .button-link {
    display: flex;
    align-items: center;
    position: absolute;
    padding: 13px 100px;
    margin-top: -5px;
    right: 67px;
  }
  .youtube-social {
    position: absolute;
    top: 5px;
    left: 50px;
  }
  .button-insta {
    position: absolute;
    padding: 13px 100px;
    border-radius: 6px;
    margin-bottom: -70px;
    left: 105px;
    border: none;
    cursor: pointer;
    background-color: #d2691e;
  }
  .instagram-social {
    top: 5px;
    left: 54px;
  }
  .tel {
    position: absolute;
    padding: 13px 50px;
    left: 30px;
    margin-top: 20px;
  }
  .mail {
    position: absolute;
    padding: 13px 40px;
    margin-bottom: -27px;
    left: 280px;
  }
}
